<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add+Update Product</title>
</head>
<body>
<center><h1>ECOM CRUD OPERATION</h1></center>
        <form methods="post" action="/product/save">
            <a href="/">HOME<br><br>
            PRODUCT ID:<input type="text" name="pid"><br><br>
            PRODUCT NAME:<input type="text" name="pnm"><br><br>
            PRODUCT PRICE:<input type="text" name="pprc"><br><br>
            PRODUCT VENDOR:<input type="text" name="pven"><br><br>
            PRODUCT QTY:<input type="text" name="pqty"><br><br>
            <input type="submit">


</body>
</html>